<main>
<%= render 'notification' %>
 <div class="container px-5 px-sm-0">
  <%= render 'books/notice', book: @book %>
  <div class="row">
   <%= render 'list', user: @user, book: @book %>


   <div class="col-md-8 offset-md-1">
    <h2>Books</h2>
     
     <table class="table">
      <thead>
       <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Opinion</th>
       </tr>  
      </thead>
      <% @books.each do |book| %>
      <tbody>
       <tr>
        <td>
         <%= link_to user_path(book.user.id) do %>
          <%= image_tag book.user.get_profile_image %>
         <% end %>
        </td>
        <td>
         <%= link_to book_path(book.id) do %>
          <%= book.title %>
         <% end %>
        </td>
        <td><%= book.body %></td>
       </tr>
      </tbody>
      <% end %>
     </table>
     
   </div>

  </div>
 </div>
</main>