<main>
 <div class="container px-5 px-sm-0">
  <%= render 'notice', book: @book %>
  <div class="row">
   <%= render 'users/list', user: current_user, book: @book %>

   <div class="col-md-8 offset-md-1">
    <h2>Books</h2>
    <table class="table">
     <thead>
      <tr>
       <th scope="col"></th>
       <th scope="col">Title</th>
       <th scope="col">Opinion</th>
      </tr>
     </thead>
     <tbody>
      <% @books.each do |book| %>
      <tr>
       <td>
        <%= link_to user_path(book.user.id) do %>
         <%= image_tag book.user.get_profile_image %>
        <% end %>
       </td>   
       <td>
        <%= link_to book_path(book.id) do %>
         <span><%= book.title %></span>
        <% end %>
       </td>   
       <td><%= book.body %></td>      
      </tr>
      <% end %>
     </tbody>
    </table>
   </div>
  </div>
 </div>
</main>