<main>
 <div class="container px-5 px-sm-0">
  <%= render 'notice', book: @book %>
  <%= render 'users/notification' %>
  <div class="row">
   <%= render 'users/list', user: @user, book: @book %>

   <div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
     <tbody>
      <tr>
       <td><%= image_tag @book_show.user.get_profile_image %>
        <br>
         <%= link_to user_path(@book_show.user.id) do %> 
          <%= @book_show.user.name %>
         <% end %>
       </td>
       <td><%= @book_show.title %></td>
       <td><%= @book_show.body %></td>
       <% if @book_show.user == current_user %>
        <td><%= link_to "Edit" , edit_book_path(@book_show.id),class: "btn btn-success" %></td>
        <td><%= link_to "Destroy", book_path(@book_show.id), method: :delete,class: "btn btn-danger" %></td>
       <% end %>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
 </div>
</main>
