<%= render 'users/list', user: @user, book: @book %>

<h1>Book detail</h1>
 <div>
  <%= image_tag @book_show.user.get_profile_image %>
 <%= link_to user_path(@book_show.user.id) do %> 
  <%= @book_show.user.name %>
 <% end %>
  <p>Title</p>
  <span><%= @book_show.title %></span>
  <p>Opinion</p>
  <span><%= @book_show.body %></span>
  <% if @book_show.user == current_user %>
    <%= link_to "Edit" , edit_book_path(@book_show.id) %>
    <%= link_to "Destroy", book_path(@book_show.id), method: :delete %>
  <% end %>
 </div>
 
